---
layout: default
---

<div class="home">

  <div class="posts">
    {% for post in paginator.posts %}
      <div class="post">
        
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <span class="h4 post-title">{{ post.title }}</span> 
            <span class="post-meta" style="float:right">{{ post.date | date: "%b %-d, %Y" }} </span>
        </a>
        
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

  {% include pagination.html %}
</div>
