@import url(http://fonts.googleapis.com/css?family=Gochi+Hand|Roboto+Slab);

#michaels {
	font-family: 'Gochi Hand';
	font-size: 40px;
	color: #F1E2D8;
}

#title {
	font-family: 'Gochi Hand';
	font-size: 80px;
	color: #FA8536;
	margin-top: 0px;
}

hr.small {
	max-width: 300px;
	margin-top: 0px;
	border-color: #938377;
}

.b {
	background-color: #F1E2D8;
	margin-right: 10px;
	margin-left: 10px;
}

#r {
	font-family: 'Roboto Slab', sans-serif;
}

#footer {
	font-family: 'Roboto Slab';
	background-color: #F1E2D8;
	position: fixed;
	bottom: 0;
	width: 100%;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

html { 
  /*background: url(/assets/img/bg.jpg) no-repeat center center fixed; */
  background-color: #56504B;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}