@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch|Skranji|Schoolbell|Chelsea+Market);

#desc {
	font-family: 'Roboto Slab';
	font-size: 16px;
	color: #F1E2D8;
}

#title {
	font-family: 'Cabin Sketch';
	font-size: 75px;
	color: #E0E0E0;
	margin-top: 90px;
	/*border-bottom: 3px solid #938377;*/
	/*border-bottom: 1px solid #F1E2D8;*/
}

hr.divide {
	max-width: 20em;
}

.b {
	background-color: #F1E2D8;
	margin: 20px 10px 0px 10px;
}

#r {
	font-family: 'Roboto Slab', sans-serif;
}

#footer {
	font-family: 'Roboto Slab';
	color: #E0E0E0;
	/*background-color: #F1E2D8;*/
	position: fixed;
	bottom: 0;
	width: 100%;
}

body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

html { 
  background: url(/assets/img/bg6.jpg) no-repeat center center fixed; 
  /*background-color: #56504B;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}