---
layout: default
title: Blog
permalink: /blog/
---

<div class="home">

  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
        
        <a href="{{ post.url | prepend: site.baseurl }}" class="post-link">
            <span class="h4 post-title">{{ post.title }}</span> 
        </a>
        <span class="post-meta post-date">{{ post.date | date: "%b %-d, %Y" }} </span>
        
        <p class="post-summary">
          {% if post.summary %}
            {{ post.summary }}
          {% else %}
            {{ post.excerpt }}
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>

</div>
