<!DOCTYPE html>
<html>
{% include head.html %}
<body class="{% if site.animated %}animated fade-in-down{% endif %}{% if page.body_class %} {{ page.body_class }}{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

<script src="{{ "/assets/js/site.js" | relative_url }}"></script>
<script src="{{ "/assets/js/hi-logo.js" | relative_url }}"></script>
{% if page.extra_scripts %}
  {% for script in page.extra_scripts %}
<script src="{{ script | relative_url }}"></script>
  {% endfor %}
{% endif %}

</body>
</html>
